.input 
{
    display: inline-block;
    margin-left: 2%;
    margin: 2px;
    width: 200px;
}

.div_form
{
    display: inline-table;
}

.div_form #label
{
    margin-bottom: 10px;
}

.Form_text
{
    display: inline-flex;
    margin: 3px;
    width: 150px;
}

#submit
{
    margin-left: 225px;
}

#Comments
{
    width: 175px;
    resize: none;
    overflow: scroll; 
}