body{
    text-align: center;
}
form {
    display: inline-block;
}
div{
    text-align: left;
    background-color: #e1edeb;
    width: fit-content;
    display: inline-block; 
    padding: 15px;
    border-radius: 4px;
    border-width: 2px;
    border-color: lightblue;
    border-style: dotted;
}
h4 {
    text-align: center;
    margin: 0px;
}
.form_text{
    font-size: 14px;
}
.form_input
{
    display: inline-block;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-color: blue;
    width: 200px;
    height: 25px;
}
.Button{
    width: 100%;
    background-color:   #4b88eb;
    color: white;
    margin-top: 15px;
    border-radius: 4px;
    border-width: 2px;
    border-color: darkblue;
    padding: 4px;
}